doctype html
html.no-js
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="")
		meta(name="author" content="")
		link(rel="icon" href="favicon.ico")

		title Photo Gallery

		// Place favicon.ico and apple-touch-icon.png in the root directory

		// build:css styles/vendor.css
		// bower:css
		link(rel="stylesheet" href="/bower_components/photo.swipe/dist/photoswipe.css")
		link(rel="stylesheet" href="/bower_components/photo.swipe/dist/default-skin/default-skin.css")
		// endbower
		// endbuild

		// build:css styles/main.css
		link(rel="stylesheet" href="styles/main.css")
		link(rel="stylesheet" href="styles/style.css")
		// endbuild

		// build:js scripts/vendor/modernizr.js
		script(src="/bower_components/modernizr/modernizr.js")
		// endbuild

		// HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
		// [if lt IE 9]
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		//[endif]

	body

		div.site-wrapper
			div.site-wrapper-inner
				h1 Photo Gallery - demo
				div#recordPictures
					div
						div#gallery-container
							ul.rslides(itemscope='', itemtype='http://schema.org/ImageGallery')
								li
									figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
										a(href='http://media.eol.org/content/2013/04/04/14/25263_orig.jpg', itemprop='contentUrl')
											img(src="http://media.eol.org/content/2013/04/04/14/25263_orig.jpg")
										figcaption(itemprop='caption description')
											| &copy; Scott Loarie,
											a(href='http://creativecommons.org/licenses/by/3.0/', target='_blank') Licencia
											| ,
											a(href='http://www.inaturalist.org/photos/224557', target='_blank') Fuente
								li
									figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
										a(href='http://media.eol.org/content/2014/01/23/08/63762_orig.jpg', itemprop='contentUrl')
											img(src="http://media.eol.org/content/2014/01/23/08/63762_orig.jpg")
										figcaption(itemprop='caption description')
											| Mark Rosenstein,
											a(href='http://creativecommons.org/licenses/by-nc-sa/3.0/', target='_blank') Licencia
											| ,
											a(href='http://www.inaturalist.org/photos/196825', target='_blank') Fuente
								li
									figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
										a(href='http://media.eol.org/content/2011/08/04/16/40861_orig.jpg', itemprop='contentUrl')
											img(src="http://media.eol.org/content/2011/08/04/16/40861_orig.jpg")
										figcaption(itemprop='caption description')
											| 2001 California Academy of Sciences,
											a(href='http://creativecommons.org/licenses/by-nc-sa/3.0/', target='_blank') Licencia
											| ,
											a(href='http://calphotos.berkeley.edu/cgi/img_query?seq_num=32762&one=T', target='_blank') Fuente
								li
									figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
										a(href='http://media.eol.org/content/2013/07/25/11/60097_orig.jpg', itemprop='contentUrl')
											img(src="http://media.eol.org/content/2013/07/25/11/60097_orig.jpg")
										figcaption(itemprop='caption description')
											| Scott Loarie,
											a(href='http://creativecommons.org/licenses/by/3.0/', target='_blank') Licencia
											| ,
											a(href='http://www.inaturalist.org/photos/224553', target='_blank') Fuente
								li
									figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
										a(href='http://media.eol.org/content/2013/03/14/06/20285_orig.jpg', itemprop='contentUrl')
											img(src="http://media.eol.org/content/2013/03/14/06/20285_orig.jpg")
										figcaption(itemprop='caption description')
											| pbedell,
											a(href='http://creativecommons.org/licenses/by-nc-sa/3.0/', target='_blank') Licencia
											| ,
											a(href='http://www.inaturalist.org/photos/269795', target='_blank') Fuente
								li
									figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
										a(href='http://media.eol.org/content/2013/06/08/03/38817_orig.jpg', itemprop='contentUrl')
											img(src="http://media.eol.org/content/2013/06/08/03/38817_orig.jpg")
										figcaption(itemprop='caption description')
											| Salvador Monge,
											a(href='http://creativecommons.org/licenses/by-nc/3.0/', target='_blank') Licencia
											| ,
											a(href='http://www.inaturalist.org/photos/358069', target='_blank') Fuente
								li
									figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
										a(href='http://media.eol.org/content/2013/07/02/07/91822_orig.jpg', itemprop='contentUrl')
											img(src="http://media.eol.org/content/2013/07/02/07/91822_orig.jpg")
										figcaption(itemprop='caption description')
											| callieoldfield,
											a(href='http://creativecommons.org/licenses/by-nc/3.0/', target='_blank') Licencia
											| ,
											a(href='http://www.inaturalist.org/photos/385421', target='_blank') Fuente
								li
									figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
										a(href='http://media.eol.org/content/2013/08/11/12/93377_orig.jpg', itemprop='contentUrl')
											img(src="http://media.eol.org/content/2013/08/11/12/93377_orig.jpg")
										figcaption(itemprop='caption description')
											| Rafael Paredes Montesinos,
											a(href='http://creativecommons.org/licenses/by-nc/3.0/', target='_blank') Licencia
											| ,
											a(href='http://www.inaturalist.org/photos/426624', target='_blank') Fuente
								li
									figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
										a(href='http://media.eol.org/content/2013/10/09/00/60902_orig.jpg', itemprop='contentUrl')
											img(src="http://media.eol.org/content/2013/10/09/00/60902_orig.jpg")
										figcaption(itemprop='caption description')
											| Samuel Valdes,
											a(href='http://creativecommons.org/licenses/by-nc/3.0/', target='_blank') Licencia
											| ,
											a(href='http://www.inaturalist.org/photos/521166', target='_blank') Fuente
								li
									figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
										a(href='http://media.eol.org/content/2014/01/15/06/90904_orig.jpg', itemprop='contentUrl')
											img(src="http://media.eol.org/content/2014/01/15/06/90904_orig.jpg")
										figcaption(itemprop='caption description')
											| canopalma,
											a(href='http://creativecommons.org/licenses/by-nc/3.0/', target='_blank') Licencia
											| ,
											a(href='http://www.inaturalist.org/photos/635896', target='_blank') Fuente
								li
									figure(itemprop='associatedMedia', itemscope='', itemtype='http://schema.org/ImageObject')
										a(href='http://www.biodiversidad.co:3000/imagen/resampled/48/Pteroglossus_torquatus_ilustracion_270x270.jpg', itemprop='contentUrl')
											img(src="http://www.biodiversidad.co:3000/imagen/resampled/48/Pteroglossus_torquatus_ilustracion_270x270.jpg")

		// Root element of PhotoSwipe. Must have class pswp.
		#gallery.pswp(tabindex='-1', role='dialog', aria-hidden='true')
			.pswp__bg
			.pswp__scroll-wrap
				.pswp__container
					.pswp__item
					| &#x9;&#x9;&#x9;
					.pswp__item
					| &#x9;&#x9;&#x9;
					.pswp__item
				.pswp__ui.pswp__ui--hidden
					.pswp__top-bar
						.pswp__counter
						| &#x9;&#x9;&#x9;&#x9;
						button.pswp__button.pswp__button--close(title='Cerrar (Esc)')
						| &#x9;&#x9;&#x9;&#x9;
						button.pswp__button.pswp__button--fs(title='Ver pantalla completa')
						| &#x9;&#x9;&#x9;&#x9;
						button.pswp__button.pswp__button--zoom(title='Acercar/alejar')
						| &#x9;&#x9;&#x9;&#x9;
						.pswp__preloader
							.pswp__preloader__icn
								.pswp__preloader__cut
									.pswp__preloader__donut
					// <div class="pswp__loading-indicator"><div class="pswp__loading-indicator__line"></div></div>
					button.pswp__button.pswp__button--arrow--left(title='Previous (arrow left)')
					button.pswp__button.pswp__button--arrow--right(title='Next (arrow right)')
					.pswp__caption
						.pswp__caption__center

		// build:js scripts/vendor.js
		// bower:js
		script(src="/bower_components/jquery/dist/jquery.js")
		script(src="/bower_components/photo.swipe/dist/photoswipe.js")
		script(src="/bower_components/photo.swipe/dist/photoswipe-ui-default.js")
		// endbower
		// endbuild

		// build:js scripts/vendor/bootstrap.js
		//script(src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js")
		//script(src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js")
		//script(src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js")
		//script(src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js")
		//script(src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js")
		//script(src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js")
		//script(src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js")
		//script(src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js")
		//script(src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js")
		//script(src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js")
		//script(src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js")
		//script(src="bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js")
		// endbuild

		// build:js scripts/main.js
		script(src="scripts/photogallery.js")
		script(src="/bower_components/photo.swipe/dist/photoswipe.js")
		script(src="scripts/main.js")
		// endbuild
